# App Config Placeholders
PORT=8080
TEAM_SLUG=your-team-slug

# Frontend Environment Variables
VITE_PUBLIC_URL=http://localhost:8080
VITE_FEATURE_SHOW_INSIGHTS=true
VITE_WEB3FORMS_ACCESS_KEY=your-access-key
